<%- include('_header', { title: 'Register - The Pirate Bay', css: 'login' }) %>

<div id="title-bar">
    <h2>Register</h2>
</div>

<div id="main-content">
    <form class="login-form" id="register-form">
        <div id="message"></div>
        <table>
            <tr>
                <td class="label-col"><label for="username">Username:</label></td>
                <td><input type="text" id="username" name="username" required></td>
            </tr>
            <tr>
                <td class="label-col"><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td class="label-col"><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
    <p class="create-account-text">
        Already have an account? <a href="/login">Login here</a>.
    </p>
</div>

<%- include('_footer', { script: 'register' }) %>